.container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width:100%;
}

.image-container{

  margin-top:10px;
  height:9rem;
  width:9rem;
  width:20%;
  text-align: center;
}

img{
  width:90%;
  border-radius:15px 40px;
}

.info-container{

  display:inline-flex;
  flex-direction:row;
  justify-content: space-between;
  margin-left: 30px;
  width:70%;
}
.info-inner-container{

  display:inline-flex;
  flex-direction:column;
  justify-content: stretch;
}

.button-container{

  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-right:10px;
}

.singleInfo{
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-shrink: 2;
}

.mat-display-1{
  margin-bottom:45px;
}

h3{
  color:firebrick;
  margin: 5px;
}
h4{
  padding:5px;
  margin: 5px;
}

a{
  text-decoration: none;
}
a:link, a:visited, a:active{
  color:black;
}

a:hover{
  color: firebrick;
  font-weight: bold;
}

.button-container button{

  margin-bottom: 20px;
  border-radius: 4.5px 15px;
  color:firebrick;
}


.button-container button:hover{
  background-color: firebrick;
  color: gold;
}
