<div class="body">

  <div class="left-container">
    <div class="image-container">
      <img [src]="imageUrl" alt="Photo not found">
    </div>
  </div>

  <div class="info-container">

    <div class="inner-container">
      <div class="singleInfo">
        <h4>Sport:</h4>
        <h3>{{field?.sport}}</h3>
      </div>
      <div class="singleInfo">
        <h4>Terreno:</h4>
        <h3>{{field?.terrain}}</h3>
      </div>
    </div>

    <div class="inner-container">
      <div class="singleInfo">
        <h4>Dimensioni:</h4>
        <h3>{{field?.length}}m x {{field.width}}m</h3>
      </div>
      <div class="singleInfo">
        <h4>Costo:</h4>
        <h3>{{field?.costPerHour}}€ all'ora</h3>
      </div>
    </div>

    <div class="button-container">
      <button color="accent" mat-raised-button (click)="openDialog()"><mat-icon>sports_handball</mat-icon>Prenota</button>
    </div>
  </div> <!-- info container-->


</div>

