body{

  padding:20px;
  background-color: lightseagreen;
  height: 90%;
}

.title{

  text-align: center;
  font-weight: bold;
}

.forms{

  display:flex;
  flex-direction: column;
}

.row{
  margin-top:30px;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-row{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.standard{

  width: 40%;
}

.short{
  width:20%;
}

.buttonContainer{

  margin-top:30px;
  width:100%;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonContainer button{

  border-radius: 4.5px 15px;
  background-color: gold;
  color: firebrick;
}

.buttonContainer button:hover{
  background-color: firebrick;
  color: gold;
}
