body{
  background-color: lightgreen;
  text-align: center;
}

h1{
  padding:10px;
  color: firebrick;
  font-weight: bold;
}
mat-form-field{

  display:flex;
  flex-direction: row;
  padding:5px 20px;
}

mat-form-field mat-icon{
  color:firebrick;
}


.container{
  padding-top:20px;
}
.forms{

  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.button-container button{

  color:firebrick;
  border-radius: 4.5px 15px;
}
.button-container button:hover{
  background-color: firebrick;
  color: gold;
}

