
<body>
  <h1 mat-dialog-title>Prenotazione presso {{data.field.ownerCompany.name}}</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content class="mat-typography container">

    <p>Stai per prenotare un campo di {{data.field.sport}} {{data.field.length}}m x{{data.field.width}}m per {{data.field.cost}} all'ora.</p>
    <p>Prima confermare, compila i campi sottostanti:</p>
    <div class="forms">

      <mat-form-field id="dateField">
        <mat-label>Scegli il giorno</mat-label>
        <input [(ngModel)]="selectedDate" (dateChange)="deepControl()" matInput [min]="minDate" [max]="getMaxDate()"
        [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field id="timeField">
        <mat-label>Orario</mat-label>
        <mat-select [(value)]="selectedTime" (selectionChange)="setHoursInARow()" placeholder="A che ora vuoi prenotare?">
          <mat-option *ngFor="let hour of availableHours" value="{{hour}}:00">{{hour}}:00</mat-option>
        </mat-select>
        <mat-icon matSuffix>access_time</mat-icon>
      </mat-form-field>

    </div>

    <div class="forms">

      <mat-form-field id="numHoursField">
        <mat-label>Quante ore di fila?</mat-label>
        <mat-select [(ngModel)]="selectedAmount" (selectionChange)="checkAvailability()">
          <mat-option *ngFor="let times of getHoursInARow()" value="{{times}}">{{times}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>more_time</mat-icon>
        <mat-error *ngIf="!amountAvailable">Le ore inserite non sono tutte disponibili</mat-error>
      </mat-form-field>

    </div>


  </div>

  <div id="alert">
    <span>Campo già occupato</span>
  </div>

  <div mat-dialog-actions class="button-container">
    <button mat-raised-button color="accent" (click)="onNoClick()">
      <mat-icon>thumb_down</mat-icon>
      Annulla
    </button>
    <button mat-raised-button color="accent" (click)="onOkClick()">
      <mat-icon>thumb_up</mat-icon>
      Conferma
    </button>
  </div>

</body>
