<div class="myRoundBox">
  <h1><strong>Alcuni dei numeri della nostra community:</strong></h1>
  <mat-divider></mat-divider>
  <div class="inner-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Strutture
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{companies}}</h2>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Utenti
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{users}}</h2>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Prenotazioni
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{reservations}}</h2>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Recensioni
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>{{reviews}}</h2>
      </mat-card-content>
    </mat-card>

  </div>

</div>
