<body>



  <main>

    <section class="welcome myRoundBox">
      <h1><strong>Benvenuti nel nuovo portale per la prenotazione di campetti sportivi</strong></h1>
      <a routerLink="/search" [queryParams]="{lookingFor: 'fields',sport: 'Calcetto', rating:'0.0'}">
        <h1><strong>Vai alla ricerca</strong></h1>
      </a>

    </section>

    <section id="instructions" class="container">

      <div id="user" class="myRoundBox">
        <h1><strong>Come funziona?</strong></h1>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item class="centered">
            <mat-icon matListIcon>person</mat-icon>
            <h2>Crea il tuo account</h2>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>search</mat-icon>
           <h2> Cerca i centri sportivi più vicini alla tua città</h2>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>phone</mat-icon>
            <h2>Prenota un orario per la tua squadra</h2>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>sports_handball</mat-icon>
            <h2>Gioca e divertiti!!!</h2>
          </mat-list-item>
        </mat-list>
      </div> <!-- user -->

      <div id="company" class="myRoundBox">
        <h1><strong>Possiedi una struttura sportiva?</strong></h1>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item class="centered">
            <mat-icon matListIcon>add_business</mat-icon>
            <h2>Iscriviti al sito</h2>
          </mat-list-item>
          <mat-list-item class="centered">
            <mat-icon matListIcon>edit</mat-icon>
            <h2>Compila il form per la tua struttura</h2>
          </mat-list-item>
          <mat-list-item class="centered">
            <mat-icon matListIcon>plus_one</mat-icon>
            <h2>Inserisci i campi sportivi che possiedi</h2>
          </mat-list-item>
          <mat-list-item class="centered">
            <mat-icon matListIcon>phone</mat-icon>
            <h2>Ricevi le chiamate degli utenti</h2>
          </mat-list-item>

        </mat-list>

      </div> <!-- company -->

    </section> <!-- instructions -->

    <app-sport id="sports" class="container">


    </app-sport> <!-- sports-->

    <app-statistics id="statistics" class="container">

    </app-statistics> <!-- statistics -->
  </main>

  <footer>
  </footer>
</body>
