<mat-toolbar>
  <a routerLink="/home">
    <div class="home-container">
      <mat-icon>sports</mat-icon>
      <h2><strong> SportBooker</strong> </h2>
    </div>
  </a>
  <span class="example-spacer"></span>
  <nav>
    <a>
      <div *ngIf="!isAuthenticated" class="login-container" (click)="login()">
        <mat-icon>login</mat-icon>
        <h2><strong> Accedi </strong></h2>
      </div>
      <div *ngIf="isAuthenticated" class="logout-container">
        <mat-icon>account_circle</mat-icon>
        <button mat-button [matMenuTriggerFor]="userMenu">
          <h2><strong>Benvenuto, {{this.user?.firstName}}</strong></h2>
        </button>

        <mat-menu #userMenu="matMenu" backdropClass="userMenu" yPosition="below" xPosition="before" >
          <div class="menuContent">

            <a routerLink="/user">
              <button mat-menu-item>
                <mat-icon>face</mat-icon>Profilo
              </button>
            </a>

            <mat-divider></mat-divider>

            <a routerLink="/user" fragment="reservations">
              <button mat-menu-item>
                <mat-icon>calendar_today</mat-icon>Le tue prenotazioni
              </button>
            </a>

            <a routerLink="/user" fragment="reviews">
              <button mat-menu-item>
                <mat-icon>short_text</mat-icon>Recensioni effettuate
              </button>
            </a>

            <mat-divider></mat-divider>

            <a (click)="openCompanyDialog()">
              <button mat-menu-item>
                <mat-icon>plus_one</mat-icon>Aggiungi una struttura
              </button>
            </a>

            <a (click)="openFieldDialog()" *ngIf="companyList?.length>0">
              <button mat-menu-item>
                <mat-icon>plus_one</mat-icon>Aggiungi un campo
              </button>
            </a>

            <a routerLink="/user" fragment="companies" *ngIf="companyList?.length>0">
              <button mat-menu-item>
                <mat-icon>corporate_fare</mat-icon>Le tue strutture
              </button>
            </a>

            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>Logout</button>
          </div>

        </mat-menu>
      </div>
    </a>
  </nav>
</mat-toolbar>
